/*
Author: Mayank Patel
Email: patelmayankce@gmail.com
File: scss
*/

@import 'variable';
/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
  width: 100%;
}
